<!DOCTYPE html>
<html lang="en" data-theme="night">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="tailwind.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <title>iPassword</title>
</head>
<body>
  <div class="container content-center">
    <form>
    <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Enter your authorisation token</span>
      </label>
      <input type="password" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      </label>
    </div>
  </form>
  </div>
</body>
</html>